<!DOCTYPE html>
<html>
	<head>
		<title>Elastic CP</title>

		<!--AngularJS Framework -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>

		<!-- JQuery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

		<!-- Bootstrap -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		
		<!-- Angular Bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.1/ui-bootstrap-tpls.min.js"></script>
		
		<!-- D3 Library -->
		<script src="https://d3js.org/d3.v4.min.js"></script>

		<!-- Lodash Library -->
		<script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>

		<!-- Implementation -->
		<script src="./app/app.js"></script>
		<script src="./app/services/elasticsearch_service.js"></script>
		<script src="./app/app.config.js"></script>
		<script src="./app/services/transformation_service.js"></script>
		<script src="./app/controllers/analysis_controller.js"></script>
		<script src="./app/controllers/index_controller.js"></script>
		<script src="./app/controllers/main_controller.js"></script>
		<script src="./app/controllers/start_controller.js"></script>
		<script src="./app/controllers/cluster_controller.js"></script>
		<script src="./app/directives/cluster_node.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body class="padding2" ng-app="elasticMapper" ng-controller="mainController">

		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<uib-tabset active="activeTab">
					<uib-tab index="0" heading="Start"></uib-tab>
					<uib-tab index="2" heading="Cluster Monitor"></uib-tab>
					<uib-tab index="3" heading="Index Maintenance"></uib-tab>
					<uib-tab index="1" heading="Analysis Tools"></uib-tab>
				</uib-tabset>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-5">
				<div class="input-group">
					<span class="input-group-addon">http://</span>
					<input ng-model="host" class="form-control" placeholder="localhost:9200">
					<span class="input-group-btn">
						<button ng-click="checkAndSetHost()" class="btn" ng-class="hostValid ? 'btn-success' : 'btn-danger'">Select</button>
					</span>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1">
				<button ng-model="refresh" ng-init="refresh=false" ng-click="refresh = !refresh" class="btn btn-primary glyphicon" ng-class="refresh ? 'glyphicon-pause' : 'glyphicon-play'"></button>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div ng-view></div>
			</div>
		</div>
		
	
	</body>
</html>