<!DOCTYPE html>
<html>
	<head>
		<title>Elastic Mapper</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<script src="./libs/ui-bootstrap-tpls-2.0.0.min.js"></script>

		<script src="./app/app.js"></script>
		<script src="./app/app.config.js"></script>
		<script src="./app/services/elasticsearch_service.js"></script>
		<script src="./app/controllers/analysis_controller.js"></script>
		<script src="./app/controllers/maintenance_controller.js"></script>
		<script src="./app/controllers/main_controller.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>

	<body class="padding2" ng-app="elasticMapper" ng-controller="mainController">

		<div class="row">
			<div class="col-lg-10 col-md-10 col-sm-10">
				<uib-tabset active="activeTab">
					<uib-tab ng-click="redirect('/start')" index="0" heading="Start"></uib-tab>
					<uib-tab ng-click="redirect('/analysis')" index="1" heading="Analysis"></uib-tab>
					<uib-tab ng-click="redirect('/fields')" index="2" heading="Fields"></uib-tab>
					<uib-tab ng-click="redirect('/templates')" index="3" heading="Templates"></uib-tab>
					<uib-tab ng-click="redirect('/maintenance')" index="4" heading="Maintenance"></uib-tab>
				</uib-tabset>
			</div>
			<div class="col-lg-2 col-md-2 col-sm-2">
				<button ng-click="updateStats()" class="btn btn-warning glyphicon glyphicon-refresh"/>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div ng-view></div>
			</div>
		</div>
		
	
	</body>
</html>