<div class="padding1">

	<div class="row">
		
		<div class="col-lg-4 col-md-4 col-sm-4">
			<span class="label label-primary">Cluster: {{clusterName}}</span>
			<span class="label" ng-class="clusterStatusMapping[clusterStatus]">Status: {{clusterStatus}}</span>
			<br><br>
			<ul class="list-group">
				<li class="list-group-item">Number of Nodes: {{numberOfNodes}}</li>
				<li class="list-group-item">Number of Data Nodes: {{numberOfNodes}}</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">Active Shards: {{activeShards}}</li>
				<li class="list-group-item">Relocating Shards: {{relocatingShards}}</li>
				<li class="list-group-item">Initializing Shards: {{initializingShards}}</li>
				<li class="list-group-item">Unassigned Shards: {{unassignedShards}}</li>
				<li class="list-group-item">Delayed Unassigned Shards: {{delayedUnassignedShards}}</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item"><strong>Node Name:</strong> {{selectedShard.name}}</li>
				<li class="list-group-item"><strong>Node:</strong> {{selectedShard.node}}</li>	
			</ul>
			<ul class="list-group">
				<li class="list-group-item" ng-style="{'background-color': colorScale(selectedShard.index)}">
					<strong>Index:</strong>{{selectedShard.index}}
				</li>
				<li class="list-group-item"><strong>Shard #:</strong> {{selectedShard.shard}}</li>
				<li class="list-group-item"><strong>Shard Type:</strong> {{selectedShard.allocation | uppercase}}</li>
			</ul>
		</div>

		<div class="col-lg-8 col-md-8 col-sm-8">
			<cluster-display data="shardStoreData" selected="selectedShard"></cluster-display>
			<div id="clusterGraphic"></div>
		</div>
	</div>

	
</div>