<div class="padding1">

	<div class="row">
		
		<div class="col-lg-2 col-md-2 col-sm-2">
			<span class="label label-primary">Cluster: {{clusterName}}</span>
			<span class="label" ng-class="clusterStatusMapping[clusterStatus]">Status: {{clusterStatus}}</span>
			<br><br>
			<ul class="list-group">
				<li class="list-group-item">Number of Nodes: {{numberOfNodes}}</li>
				<li class="list-group-item">Number of Data Nodes: {{numberOfNodes}}</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item">Active Shards: {{activeShards}}</li>
				<li class="list-group-item">Relocating Shards: {{relocatingShards}}</li>
				<li class="list-group-item">Initializing Shards: {{initializingShards}}</li>
				<li class="list-group-item">Unassigned Shards: {{unassignedShards}}</li>
				<li class="list-group-item">Delayed Unassigned Shards: {{delayedUnassignedShards}}</li>
			</ul>
		</div>

		<div class="col-lg-8 col-md-8 col-sm-8">
			<span ng-repeat="node in routingNodes">
				<cluster-node data="node" selected="$parent.selectedShard"></cluster-node>
			</span>		
		</div>

		<div class="col-lg-2 col-md-2 col-sm-2">
			<selected-node data="selectedShard"></selected-node>
		</div>
	</div>

	
</div>