<div class="padding1">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<ul class="list-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-1 col-md-1 col-sm-1"></div>
						<div class="col-lg-3 col-md-3 col-sm-3"><strong>Index Name</strong></div>
						<div class="col-lg-1 col-md-1 col-sm-1"><strong>Shards</strong></div>
						<div class="col-lg-1 col-md-1 col-sm-1"><strong>Replicas</strong></div>
						<div class="col-lg-1 col-md-1 col-sm-1"><strong>Docs</strong></div>
						<div class="col-lg-1 col-md-1 col-sm-1"><strong>Deleted</strong></div>
						<div class="col-lg-2 col-md-2 col-sm-2"><strong>Created Date</strong></div>
						<div class="col-lg-2 col-md-2 col-sm-2"><strong>Operations</strong></div>
					</div>
				</li>
				<li class="list-group-item" ng-repeat="(key, value) in parent.clusterState.metadata.indices">
					<div class="row">
						<div class="col-lg-1 col-md-1 col-sm-1">{{$index + 1}}</div>
						<div class="col-lg-3 col-md-3 col-sm-3">{{key}}</div>
						<div class="col-lg-1 col-md-1 col-sm-1">{{value.settings.index.number_of_shards}}</div>
						<div class="col-lg-1 col-md-1 col-sm-1">{{value.settings.index.number_of_replicas}}</div>
						<div class="col-lg-1 col-md-1 col-sm-1">{{parent.stats.indices[key].primaries.docs.count}}</div>
						<div class="col-lg-1 col-md-1 col-sm-1">{{parent.stats.indices[key].primaries.docs.deleted}}</div>
						<div class="col-lg-2 col-md-2 col-sm-2">{{getDate(value.settings.index.creation_date)}}</div>
						<div class="col-lg-2 col-md-2 col-sm-2">
							<span title="Open/Close" style="cursor: pointer" ng-class="(value.state == 'close') ? 'glyphicon glyphicon-ban-circle' : 'glyphicon glyphicon-ok-circle'" ng-click="value.state == 'open' ? closeIndex(key) : openIndex(key)"></span>  
							&nbsp
							<span title="Clear Cache" uib-dropdown>
								<span uib-dropdown-toggle style="cursor: pointer" class="glyphicon glyphicon-remove-circle" ></span>
								<ul class="dropdown-menu" uib-dropdown-menu>
									<li><a><strong>Clear Cache</strong></a></li>
									<li class="divider"></li>
									<li><a href ng-click="clearCache(key, 'query')">Query</a></li>
									<li><a href ng-click="clearCache(key, 'fielddata')">Field Data</a></li>
									<li><a href ng-click="clearCache(key, 'request')">Request</a></li>
									<li><a href ng-click="clearCache(key)">All</a></li>
								</ul>
							</span> &nbsp
							<span title="Delete" style="cursor: pointer" class="glyphicon glyphicon-trash" ng-click="deleteIndex(key)"></span> &nbsp
							<span title="Select" ng-class="expand ? 'glyphicon glyphicon-resize-full' : 'glyphicon glyphicon-resize-small'" style="cursor: pointer" ng-init="expand = false" ng-click="expand = !expand"></span>
						</div>
					</div>
					<div ng-show="expand" class="row padding2">
						<br>
						<uib-tabset active="indexActiveTab">
							<uib-tab index="0" heading="Data"></uib-tab>
							<uib-tab index="1" heading="Mapping"></uib-tab>
							<uib-tab index="2" heading="Settings"></uib-tab>
						</uib-tabset>
					</div>
				</li>
			</ul>
		</div>
	</div>	
</div>