<div class="padding1">
	<ul class="list-group">
		<li class="list-group-item">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1"><strong>#</strong></div>
				<div class="col-lg-5 col-md-5 col-sm-5"><strong>Index Name</strong></div>
				<div class="col-lg-5 col-md-5 col-sm-5"><strong>Index Doc Count</strong></div>
				<div class="col-lg-1 col-md-1 col-sm-1"><strong>Delete</strong></div>
			</div>
		</li>
		<li class="list-group-item" ng-repeat="(key, value) in parent.stats.indices">
			<div class="row">
				<div class="col-lg-1 col-md-1 col-sm-1">{{$index + 1}}</div>
				<div class="col-lg-5 col-md-5 col-sm-5">{{key}}</div>
				<div class="col-lg-5 col-md-5 col-sm-5">{{value.primaries.docs.count}}</div>
				<div class="col-lg-1 col-md-1 col-sm-1"><span class="glyphicon glyphicon-remove" ng-click="deleteIndex(key)"></span></div>
			</div>
		</li>
	</ul>
</div>