<br>
<div class="container-fluid">
	<div class="jumbotron row">
		<div class="col-lg-8 col-md-8 col-sm-8">
			<h2>Elasticsearch Mapping</h2>
			<p>
				1. Create a new mapping. <br>
				2. Update an existing mapping.
			</p>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4">
			<br>
			<button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span> Create Mapping</button>
			<br><br>
			<button class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-pencil"></span> Update Mapping</button>
		</div>
	</div>
</div>
